<div class="p-4">
  <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14">
    <div class="flex items-center justify-center h-48 mb-4 rounded bg-gray-50 dark:bg-gray-800">
      <%= inspect(@current) %>
    </div>

    <div class="flex items-center justify-center h-48 mt-4 rounded bg-gray-50 dark:bg-gray-800">
    </div>
  </div>
</div>
