<.aside requests={@streams.requests} sid={@sid} current={@current} />
<div class="grid grid-cols-1 p-2 pt-8 mt-14 xl:grid-cols-2 xl:gap-2 dark:bg-gray-900">
  <.request_details :if={@current} request={@current} />
  <.without_requests url={url(~p"/#{@sid}")} />
</div>
